*{padding:10px;}

body{
    border-color:black;
    outline-style: solid;
    text-align: center;
}

header{ 
    
}

nav{ padding: 10px;
    

}

section{
    
}

header{
    
}



footer{
    
}

section{
    
}

header{
    

}
article{

}
header{

}

p{
}
p{

}

footer{

}
article{border-color:black;
    outline-style: solid
}
header{border-color:black;
    outline-style: solid}
p{border-color:black;
    outline-style: solid}
aside{border-color:black;
    outline-style: solid}
footer{border-color:black;
    outline-style: solid}
footer{border-color:black;
    outline-style: solid}
footer{border-color:black;
    outline-style: solid}
